
.description {
    margin: auto;
    color: #005380;
    border-left: 2px solid gray;
    padding-left: 15px;
    text-align: left;
}

.completed {
}

.body {
    width: 500px;
    margin: 0 auto;
    color: #212609;
    background: #48bdea;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;

}

/* Control the left side */
.left {
    left: 0;
    background-color: cornsilk;
}

/* Control the right side */
.right {
    right: 0;
    background-color: burlywood;
    text-decoration-color: #212609;
    text-align: center;

}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}


.span {
    size: auto;
}
label {
    display: inline-block;
    width: 200px;
    margin: 5px;
    text-align: left;
}

input[type=text], input[type=date] {
    display: inline-block;
    width: 300px;
    height: 25px;
}

input[type=submit] {
    display: block;
    margin: auto
}

table, th {
    border:1px solid black;

}

td {
    text-align: right;
}





